/* /////////////////////////////////////////////////////////////////// */
/* header */
.container {
  background: red;
  font-family: "IBM Plex Mono", monospace;
  color: blue;
}
/* menu placement */
.box1 {
  background: aliceblue;
  width: 105%;
  height: 190px;
}
.box1 i {
  position: relative;
  top: 80px;
  font-size: 30px;
}

/* logoPlacement */
.box2 {
  background: aliceblue;
  width: 105%;
  height: 190px;
}
.logo {
  position: relative;
  left: 55px;
}
.logoTxt {
  position: relative;
  left: 30px;
}
/* search placement*/
.box3 {
  background: aliceblue;
  width: 100%;
  height: 190px;
}
.box3 i {
  position: relative;
  top: 80px;
  font-size: 30px;
}

/* /////////////////////////////// */
/* dropDownList */
.main1 {
  background: rgb(201, 222, 201);
  width: 107.3%;
  height: 190px;
}
.menuList {
  height: 130px;
  background: rgb(73, 38, 43);
}
.hidden {
  display: none;
}
/* /////////////////////////////// */
/* main */
.main2 {
  background: rgb(23, 184, 23);
  width: 107.52%;
  height: 190px;
  position: relative;
}
