/* desktop */
@media only screen and (max-width: 2080px) and (min-width: 1300px) {
  /* /////////////////////////////////////////////////////////////////// */
  /* header */
  body {
    font-family: "IBM Plex Mono", monospace;
    color: blue;
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
  .container {
    background: aliceblue;
  }
  /* menu placement */
  .box1 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .box1 i {
    position: relative;
    top: 80px;
    font-size: 30px;
  }

  /* logoPlacement */
  .box2 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .logo {
    position: relative;
    left: 340px;
  }
  .logoTxt {
    position: relative;
    left: 180px;
  }
  /* search placement*/
  .box3 {
    background: aliceblue;
    /* width: 100%; */
    height: 190px;
  }
  .box3 i {
    position: relative;

    top: 80px;
    font-size: 30px;
    left: 165px;
  }

  /* /////////////////////////////// */
  /* dropDownList */
  .main1 {
    background: aliceblue;
    width: 100%;
    height: 190px;
    display: flex;
  }
  .menuList {
    height: 130px;
    background: rgb(234, 209, 213);
  }

  .hidden {
    display: none;
  }
  /* menu list */
  .dropdownOptions {
    background: aliceblue;
    height: 130px;
  }
  .singleOption {
    list-style: none;
    margin-bottom: 5px;
  }
  /* search bar */
  .container2 {
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: 1px solid rgb(92, 92, 207);
    padding: 0px 10px;
    border-radius: 50px;
    top: 10px;
    left: 400px;
  }
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(10, 10, 101);
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  .material-icons {
    font-size: 25px;
    color: rgb(92, 92, 207);
    position: relative;
    left: 20px;
  }
  /* /////////////////////////////// */
  /* main */
  .main2 {
    background: rgb(23, 184, 23);
    width: 102.5%;
    height: 230px;
    position: relative;
    overflow: hidden;
    right: 5px;
  }
  .timeDescription {
    display: flex;
    position: relative;
  }
  .name {
    word-wrap: break-word;
    position: relative;
    left: 500px;
    top: 10px;
    font-size: 25px;
    font-weight: 500;
  }
  .info {
    position: relative;
    margin-left: 270px;
    margin-right: 150px;
    top: 30px;
    display: flex;
  }
  .infoAddress {
    position: relative;
    margin-right: 60px;
    margin-left: 520px;
    top: 70px;
    display: flex;
  }
  .info i {
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  .infoAddress i {
    margin-right: 10px;
    margin-left: 70px;
    position: relative;
    top: 5px;
  }

  .addressText {
    word-wrap: break-word;
    position: relative;
    top: 80px;
    width: 100%;
    left: 320px;
  }
}

/* desktop */
@media only screen and (max-width: 1280px) and (min-width: 950px) {
  /* /////////////////////////////////////////////////////////////////// */
  /* header */
  body {
    font-family: "IBM Plex Mono", monospace;
    color: blue;
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
  .container {
    background: aliceblue;
  }
  /* menu placement */
  .box1 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .box1 i {
    position: relative;
    top: 80px;
    font-size: 30px;
  }

  /* logoPlacement */
  .box2 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .logo {
    position: relative;
    left: 330px;
  }
  .logoTxt {
    position: relative;
    left: 160px;
  }
  /* search placement*/
  .box3 {
    background: aliceblue;
    /* width: 100%; */
    height: 190px;
  }
  .box3 i {
    position: relative;

    top: 80px;
    font-size: 30px;
    left: 135px;
  }

  /* /////////////////////////////// */
  /* dropDownList */
  .main1 {
    background: aliceblue;
    width: 100%;
    height: 190px;
    display: flex;
  }
  .menuList {
    height: 130px;
    background: rgb(234, 209, 213);
  }

  .hidden {
    display: none;
  }
  /* menu list */
  .dropdownOptions {
    background: aliceblue;
    height: 130px;
  }
  .singleOption {
    list-style: none;
    margin-bottom: 5px;
  }
  /* search bar */
  .container2 {
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: 1px solid rgb(92, 92, 207);
    padding: 0px 10px;
    border-radius: 50px;
    top: 10px;
    left: 320px;
  }
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(10, 10, 101);
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  .material-icons {
    font-size: 25px;
    color: rgb(92, 92, 207);
    position: relative;
    left: 20px;
  }
  /* /////////////////////////////// */
  /* main */
  .main2 {
    background: rgb(23, 184, 23);
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
    left: 12px;
  }
  .name {
    word-wrap: break-word;
    position: relative;
    left: 410px;
    top: 10px;
    font-size: 25px;
    font-weight: 500;
  }
  .timeDescription {
    display: flex;
    position: relative;
  }

  .info {
    position: relative;
    margin-left: 200px;
    margin-right: 150px;
    top: 30px;
    display: flex;
  }
  .infoAddress {
    position: relative;
    margin-right: 60px;
    margin-left: 445px;
    top: 70px;
    display: flex;
  }
  .info i {
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  .infoAddress i {
    margin-right: 10px;
    margin-left: 70px;
    position: relative;
    top: 5px;
  }

  .addressText {
    word-wrap: break-word;
    position: relative;
    top: 80px;
    width: 100%;
    left: 235px;
  }
}

/* desktop */
/* tablet */
@media only screen and (max-width: 1080px) and (min-width: 950px) {
  /* /////////////////////////////////////////////////////////////////// */
  /* header */
  body {
    font-family: "IBM Plex Mono", monospace;
    color: blue;
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
  .container {
    background: aliceblue;
  }
  /* menu placement */
  .box1 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .box1 i {
    position: relative;
    top: 80px;
    font-size: 30px;
  }

  /* logoPlacement */
  .box2 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .logo {
    position: relative;
    left: 280px;
  }
  .logoTxt {
    position: relative;
    left: 130px;
  }
  /* search placement*/
  .box3 {
    background: aliceblue;
    /* width: 100%; */
    height: 190px;
  }
  .box3 i {
    position: relative;

    top: 80px;
    font-size: 30px;
    left: 100px;
  }

  /* /////////////////////////////// */
  /* dropDownList */
  .main1 {
    background: aliceblue;
    width: 100%;
    height: 190px;
    display: flex;
  }
  .menuList {
    height: 130px;
    background: rgb(234, 209, 213);
  }

  .hidden {
    display: none;
  }
  /* menu list */
  .dropdownOptions {
    background: aliceblue;
    height: 130px;
  }
  .singleOption {
    list-style: none;
    margin-bottom: 5px;
  }
  /* search bar */
  .container2 {
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: 1px solid rgb(92, 92, 207);
    padding: 0px 10px;
    border-radius: 50px;
    top: 10px;
    left: 255px;
  }
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(10, 10, 101);
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  .material-icons {
    font-size: 25px;
    color: rgb(92, 92, 207);
    position: relative;
    left: 20px;
  }
  /* /////////////////////////////// */
  /* main */
  .main2 {
    background: rgb(23, 184, 23);
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
    right: 5px;
  }
  .name {
    word-wrap: break-word;
    position: relative;
    left: 310px;
    top: 10px;
    font-size: 25px;
    font-weight: 500;
  }
  .timeDescription {
    display: flex;
    position: relative;
  }
  .info {
    position: relative;
    margin-left: 165px;
    margin-right: 100px;
    top: 30px;
    display: flex;
  }
  .infoAddress {
    position: relative;
    margin-right: 60px;
    margin-left: 340px;
    top: 70px;
    display: flex;
  }
  .info i {
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  .infoAddress i {
    margin-right: 10px;
    margin-left: 70px;
    position: relative;
    top: 5px;
  }

  .addressText {
    word-wrap: break-word;
    position: relative;
    top: 80px;
    width: 100%;
    left: 150px;
  }
}
