/* ////////////////////////////////////////////////// */
/* mobile large*/
@media only screen and (max-width: 600px) and (min-width: 500px) {
  /* /////////////////////////////////////////////////////////////////// */
  /* header */
  body {
    font-family: "IBM Plex Mono", monospace;
    color: blue;
    width: 100%;
  }
  .container {
    background: aliceblue;
  }
  /* menu placement */
  .box1 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .box1 i {
    position: relative;
    top: 80px;
    font-size: 30px;
  }

  /* logoPlacement */
  .box2 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .logo {
    position: relative;
    left: 115px;
  }
  .logoTxt {
    position: relative;
    left: 10px;
  }
  /* search placement*/
  .box3 {
    background: aliceblue;
    /* width: 100%; */
    height: 190px;
  }
  .box3 i {
    position: relative;

    top: 80px;
    font-size: 30px;
    left: 9px;
  }

  /* /////////////////////////////// */
  /* dropDownList */
  .main1 {
    background: aliceblue;
    width: 107.3%;
    height: 190px;
  }
  .menuList {
    height: 130px;
    background: rgb(234, 209, 213);
  }

  .hidden {
    display: none;
  }
  /* menu list */
  .dropdownOptions {
    background: aliceblue;
    height: 130px;
  }
  .singleOption {
    list-style: none;
    margin-bottom: 5px;
  }
  /* search bar */
  .container2 {
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: 1px solid rgb(92, 92, 207);
    padding: 0px 10px;
    border-radius: 50px;
    top: 10px;
  }
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(10, 10, 101);
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  .material-icons {
    font-size: 25px;
    color: rgb(92, 92, 207);
    position: relative;
    left: 20px;
  }
  /* /////////////////////////////// */
  /* main */
  .main2 {
    background: rgb(23, 184, 23);
    width: 107.3%;
    height: 190px;
    position: relative;
    right: 5px;
  }
}

/* mobile medium*/
@media only screen and (max-width: 500px) and (min-width: 300px) {
  /* /////////////////////////////////////////////////////////////////// */
  /* header */
  body {
    font-family: "IBM Plex Mono", monospace;
    color: blue;
    width: 100%;
  }
  .container {
    background: aliceblue;
  }
  /* menu placement */
  .box1 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .box1 i {
    position: relative;
    top: 80px;
    font-size: 30px;
  }

  /* logoPlacement */
  .box2 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .logo {
    position: relative;
    left: 55px;
  }
  .logoTxt {
    position: relative;
    left: 30px;
  }
  /* search placement*/
  .box3 {
    background: aliceblue;
    /* width: 100%; */
    height: 190px;
  }
  .box3 i {
    position: relative;

    top: 80px;
    font-size: 30px;
    left: 9px;
  }

  /* /////////////////////////////// */
  /* dropDownList */
  .main1 {
    background: aliceblue;
    width: 107.3%;
    height: 190px;
  }
  .menuList {
    height: 130px;
    background: rgb(234, 209, 213);
  }

  .hidden {
    display: none;
  }
  /* menu list */
  .dropdownOptions {
    background: aliceblue;
    height: 130px;
  }
  .singleOption {
    list-style: none;
    margin-bottom: 5px;
  }
  /* search bar */
  .container2 {
    margin: auto;
    position: relative;
    width: 300px;
    height: 42px;
    border: 1px solid rgb(92, 92, 207);
    padding: 0px 10px;
    border-radius: 50px;
    top: 10px;
  }
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(10, 10, 101);
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  .material-icons {
    font-size: 25px;
    color: rgb(92, 92, 207);
    position: relative;
    left: 20px;
  }
  /* /////////////////////////////// */
  /* main */
  .main2 {
    background: rgb(23, 184, 23);
    width: 107.3%;
    height: 190px;
    position: relative;
  }
}

/* mobile tiny*/
@media only screen and (max-width: 300px) and (min-width: 150px) {
  /* /////////////////////////////////////////////////////////////////// */
  /* header */
  body {
    font-family: "IBM Plex Mono", monospace;
    color: blue;
    width: 100%;
  }
  .container {
    background: aliceblue;
  }
  /* menu placement */
  .box1 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .box1 i {
    position: relative;
    top: 80px;
    font-size: 30px;
  }

  /* logoPlacement */
  .box2 {
    background: aliceblue;
    /* width: 105%; */
    height: 190px;
  }
  .logo {
    position: relative;
    left: 15px;
  }
  .logoTxt {
    position: relative;
  }
  /* search placement*/
  .box3 {
    background: aliceblue;
    /* width: 100%; */
    height: 190px;
  }
  .box3 i {
    position: relative;

    top: 80px;
    font-size: 30px;
    right: 9px;
  }

  /* /////////////////////////////// */
  /* dropDownList */
  .main1 {
    background: aliceblue;
    width: 107.3%;
    height: 190px;
  }
  .menuList {
    height: 130px;
    background: rgb(234, 209, 213);
  }

  .hidden {
    display: none;
  }
  /* menu list */
  .dropdownOptions {
    background: aliceblue;
    height: 130px;
  }
  .singleOption {
    list-style: none;
    margin-bottom: 5px;
  }
  /* search bar */
  .container2 {
    margin: auto;
    position: relative;
    width: 200px;
    height: 42px;
    border: 1px solid rgb(92, 92, 207);
    padding: 0px 10px;
    border-radius: 50px;
    top: 10px;
  }
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(10, 10, 101);
    font-weight: 500;
  }
  .search:focus {
    outline: none;
  }
  .material-icons {
    font-size: 25px;
    color: rgb(92, 92, 207);
    position: relative;
    left: 5px;
  }
  /* /////////////////////////////// */
  /* main */
  .main2 {
    background: rgb(23, 184, 23);
    width: 107.3%;
    height: 190px;
    position: relative;
    left: 4.2px;
  }
}
